<div class="downrow" >
  <div class="row" id="two">
    <p id="loveapidesigner">Here’s why you’ll love API Connect Designer</p>
    <p id="trycloud">Try on your laptop, on IBM Bluemix, or hybrid cloud.</p>
    <div class="col-md-3">
      <img src="images/icon_create_blue.svg" class="footericon"/>
      <p id="titleforactionfooter">Create</p>
      <p id="descriptionforaction">You can create high-quality, scalable and secure APIs in minutes for enterprise systems such as application servers, databases, enterprise service buses (ESBs) and mainframes.</p>
    </div>
    <div class="col-md-3">
      <img src="images/icon_run_blue.svg" class="footericon"/>
      <p id="titleforactionfooter">Run</p>
      <p id="descriptionforaction">Take advantage of integrated tooling to build, run, debug and deploy APIs and microservices using the Node.js or Java skills your team already possesses.</p>
    </div>
    <div class="col-md-3">
      <img src="images/icon_manage_blue.svg" class="footericon"/>
      <p id="titleforactionfooter">Manage</p>
      <p id="descriptionforaction">Create and manage self-service portals that empower internal and external developers to quickly discover and consume APIs and securely access enterprise data.</p>
    </div>
    <div class="col-md-3">
      <img src="images/icon_secure_blue.svg" class="footericonsecure"/>
      <p id="titleforactionfooter">Secure</p>
      <p id="descriptionforaction">Secure and control access to APIs as part of the API lifecycle. Set and enforce API policies to secure back-end information assets and comply with governance and regulatory mandates.</p>
    </div>
  </div>
</div>
