<div class = "col-md-4 col-md-4">
  <div id="topthumbnailline"> </div>
    <div class ="thumbnail" >
      <div id="circle"><img src="images/{{include.icon}}" class="icon"/></div>
      <a class="tile-link" href="{{include.link}}.html">
        <div class="description">
          <p class="tile">{{include.title}}</p>
          <p class="tile-description">{{include.text}}</p>
        </div>
      </a>
      <div class="bottompart">
        <div id="bottomline"> </div>
        <div id="oval"><span id="tutorialtext">{{include.type|default:"Tutorial"}}</span></div>
      </div>
    </div>
</div>
