<div class="header">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li> <p id="apiconnect"><a href="index.html">IBM API Connect</a></p> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a href="https://developer.ibm.com/apiconnect/blog/" id="headeroptionsright">Blog</a> </li>
      <li><a href="https://developer.ibm.com/answers/smartspace/apiconnect/" id="headeroptionsright">Forum</a> </li>
      <li><a href="https://developer.ibm.com/apiconnect/doc/" id="headeroptionsright">Documentation</a> </li>
    </ul>
  </div>
</div>
