---
layout: default
css: home
---
<div class = "downtheheader">
  <div style="width: 500px; margin: 0px auto 0px auto;" markdown="1">
  {% include warning.html content="This site is a work in progress.  Please do not use yet!
  " %}
</div>
	<p class="headertitle">Getting Started with IBM API Connect</p>
	<p class="titledescription">Learn the basics of API Connect by using these guides to build microservices and API proxies.
	</p>
</div>

<div class = "row" id="one">
  {{content}}
</div>

  <div class="tutoriallinks">
    <p id="view">Tutorials
    <a href="#" id="viewlink">View all tutorials</a>
    </p>
  </div>

<br clear="all"/>

{% include hereswhy.html %}

<div class="downloadbar">
  <div class="contentdownload">
    <p id="installinstruction">Install Developer Toolkit today</p>
    <a href="Install.html" class="btn btn-default"><label id="buttonlabel">INSTALL TOOLKIT</label></a>
  </div>
</div>
</body>
</html>
